<p class="title">CONTACTS</p>
 <div>
    <table width="100%" class="styled-table">
    <thead>
      <tr>
          <th>Name</th>
          <th>Email</th>
          <th>Phone</th>
          <th>Title</th>
          <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let contact of contacts; let i = index;">
        <td width="20%">{{contact.Name}}</td>
        <td width="20%">{{contact.Email}}</td>
        <td width="20%">{{contact.Phone}}</td>
        <td width="20%">{{contact.Title}}</td>
        <td width="5%" id={{i}} class="edit" (click)="handleEdit($event)">Edit</td>
      </tr>
    </tbody>
    </table>
 </div>
 <div id="myModal" class="modal" *ngIf="showModal">

   <!-- Modal content -->
   <div class="modal-content">
     <span class="close" (click)="handleClose()">&times;</span>
     <div class="modal-center">
      <p class="bold">{{editContact.Name}}</p>
      <input class="input" value={{editContact.Email}} (change)="handleChange($event)">
      <div>
        <button class="button" (click)="handleSave()">Save</button></div>
    </div>
   </div>

 </div>